name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:

  sast_semgrep:
    name: SAST - Semgrep
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar Semgrep
        run: pip install semgrep

      - name: Ejecutar SAST (Semgrep)
        run: semgrep --config "p/owasp-top-ten" . --error


  sca_trivy:
    name: SCA - Trivy
    runs-on: ubuntu-latest
    needs: sast_semgrep
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar Trivy
        run: |
          sudo apt-get update -y
          sudo apt-get install wget apt-transport-https gnupg lsb-release -y
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update -y
          sudo apt-get install trivy -y

      - name: Ejecutar SCA en sistema
        run: trivy fs . --severity HIGH,CRITICAL --exit-code 1


  dast_zap:
    name: DAST - OWASP ZAP
    runs-on: ubuntu-latest
    needs: sca_trivy
    steps:
      - name: Ejecutar ZAP Baseline Scan contra AWS
      run: |
        docker run --rm -v $(pwd):/zap/wrk/:rw \
          ghcr.io/zaproxy/zaproxy:stable \
          zap-baseline.py -t http://3.88.90.245 -r zap_report.html

        if grep -qi "High" zap_report.html; then
          echo "Vulnerabilidades HIGH detectadas en AWS. Deteniendo pipeline."
          exit 1
        fi

      - name: Guardar reporte ZAP
        uses: actions/upload-artifact@v4
        with:
          name: zap_report
          path: zap_report.html

  slack_notify:
    name: Notificar Slack
    runs-on: ubuntu-latest
    needs: dast_zap
    steps:
      - name: Enviar mensaje a Slack
        run: |
          curl -X POST -H 'Content-type: application/json' \
          --data '{"text":"El pipeline DevSecOps finalizó correctamente."}' \
          ${{ secrets.SLACK_WEBHOOK_URL }}
